# Limpieza previa de los datos

---

# Imports

In [1]:
import pandas as pd
import numpy as np

---

# Auctions

In [2]:
auctions = pd.read_csv("../../data/tp2/auctions.csv")

## Inspección

In [4]:
auctions.head()

                         date            device_id  ref_type_id  source_id
0  2019-04-23 18:58:00.842116  2564673204772915246            1          0
1  2019-04-23 18:58:01.530771  4441121667607578179            7          0
2  2019-04-23 18:58:01.767562  7721769811471055264            1          0
3  2019-04-23 18:58:02.363468  6416039086842158968            1          0
4  2019-04-23 18:58:02.397559  1258642015983312729            1          0

In [5]:
auctions.dtypes

date           object
device_id       int64
ref_type_id     int64
source_id       int64
dtype: object

---

# Conversión de columna date a fecha

In [6]:
auctions["date"] = pd.to_datetime(auctions["date"])

---

# Conversión de "ref_type_id" a int8, o bool

In [27]:
auctions["ref_type_id"].value_counts()

1    40330743
7     7078785
Name: ref_type_id, dtype: int64

In [15]:
auctions["ref_type_id"] = auctions["ref_type_id"].astype(np.int8)

In [28]:
auctions["es_ref_type_id_1"] = (auctions["ref_type_id"] == 1)

In [31]:
auctions["es_ref_type_id_1"].memory_usage(deep=True) / (1024**2)

45.21332550048828

In [34]:
auctions["ref_type_id"].memory_usage(deep=True) / (1024**2)

45.21332550048828

Shame on you pandas guardando booleanos en 8 bits.

---

# Conversión de "source_id" a int8

In [19]:
auctions["source_id"] = auctions["source_id"].astype(np.int8)

---

# Veo si conviene tener el device_id como categórico

In [23]:
auctions["cuidado"] = pd.Categorical(auctions["device_id"])

In [25]:
auctions["cuidado"].memory_usage(deep=True) / (1024**2)

204.4796142578125

In [26]:
auctions["device_id"].memory_usage(deep=True) / (1024**2)

361.70606994628906

---

# Conclusiones

- date: como datetime64
- ref_type_id: como int8
- source_id: como int8
- device_id: como categórico

___

---