# Imports

In [1]:
import pandas as pd
import numpy as np

***

# Carga de datos

In [3]:
auctions = pd.read_pickle("../../data/tp2/auctions_tp2_formateado.pkl")
clicks = pd.read_pickle("../../data/tp2/clicks_tp2_formateado.pkl")
events = pd.read_pickle("../../data/tp2/events_tp2_formateado.pkl")
installs = pd.read_pickle("../../data/tp2/installs_tp2_formateado.pkl")

***

In [10]:
auctions.head(1).T

                               10129864
date         2019-04-18 00:00:00.015050
device_id           1826643666390887030
ref_type_id                           7
source_id                             0

In [23]:
auctions["source_id"].value_counts()

1    24409571
0    11269616
3     7037160
7     1323280
6     1173914
8      839397
5      676993
4      430468
2      245462
9        3667
Name: source_id, dtype: int64

In [30]:
clicks.head(1).T

                                                0
advertiser_id                                   1
action_id                                     NaN
source_id                                       2
created          2019-04-18 05:27:42.197000+00:00
latitude                                  1.71455
longitude                                0.871535
wifi_connection                             False
carrier_id                                      3
trans_id          9JMAfrb-b9cSEVCJb0P9JfihGthaS7E
os_minor                              1.51764e+18
agent_device                                  NaN
os_major                              5.13162e+18
specs_brand                     71913840936116953
brand                                           0
timeToClick                                 2.317
touchX                                      0.968
touchY                                      0.503
ref_hash                      1293710398598742392
os_es_android                                   1

In [27]:
clicks["source_id"].value_counts()

1    33695
0    17155
3     5639
2     3878
6     2186
4      823
5      454
7      329
8      137
Name: source_id, dtype: int64

In [42]:
(clicks["ref_hash"].drop_duplicates()).isin(auctions["device_id"].drop_duplicates()).value_counts()

True     30873
False      936
Name: ref_hash, dtype: int64

In [43]:
filtro_no_estan = ~(clicks["ref_hash"].drop_duplicates()).isin(auctions["device_id"].drop_duplicates())

In [46]:
ids_en_clicks = clicks["ref_hash"].drop_duplicates().to_frame()

In [47]:
ids_en_clicks.loc[filtro_no_estan]

                  ref_hash
80     6400970463521170881
81     6072063118246220367
370     693644540026048651
482    7010970430039768754
652    7429696142856124144
689    5140651541097825030
745    7548127526912045691
753    7467017304613739228
782    4237278366052138818
854    2049838018308791986
865    7200909555472446995
879     420248657512026516
897    5671815735437755776
909    3121543566327368917
954    1548633199858581386
962    3688963765430017171
973    3106855253060374800
1452   5229898215714110084
1480   5212012540262260455
1824   5244690866238639451
1829   4085328760588045336
1850   6465155560218845406
1873   6279145536976086398
1911   6268297019974437068
1948   3988088788105676079
1955   4213411066584521202
1960    819129785261882014
1973   1586843692116904786
2013     40224521021557081
2014   8378716326880491926
...                    ...
62163  8405974608290011100
62168   907060310794105085
62177  2140297339120796902
62190  4175386615847229792
62206  1712862853874274123
62207  4558179922733809455
62231  5434804324812338816
62270  3772411295676717061
62273  9081867702580504633
62282  8793900008817093457
62306  2782656278350934375
62315  2648337881261697090
62385  7482929787722837705
62393  5829748584679881275
62449  2261331519373842576
62456  8964148216449104092
62629  4458445435849303691
62653  1234361773979670176
62699  6014541119643902237
62702  5981951542917714301
62747  3890208570030118787
62758  1470323911780937884
62785  1265111235202124018
62786  1239614883942232637
62956  3387096027653176186
63021  1915009469839706752
63160  4354722066045082751
63177  8268259315303812599
63709  5211895678908712106
63893  3064929268338896801

[936 rows x 1 columns]

In [12]:
events.head(1).T

                                                  170092
index                                             176304
date                          2019-04-18 00:00:00.027000
event_id                                              13
ref_hash                             4314242242878368557
application_id                                        65
attributed                                         False
device_os_version                                    NaN
device_brand                                 8.64024e+18
device_model                                 3.07541e+18
device_city                                          NaN
session_user_agent                           3.81952e+18
trans_id                                             NaN
user_agent                                   8.38837e+18
event_uuid          eb320d20-1dbe-4240-a948-73e6aedc97c0
carrier                                              NaN
kind                                         4.85317e+18
wifi                                                True
connection_type                                      NaN
ip_address                           7661022588781582440
device_language                              6.97705e+18
os_es_android                                          1

In [13]:
installs.head(1).T

                                                       0
created                       2019-04-24 06:23:29.495000
application_id                                         1
ref_hash                             4716708407362582887
click_hash                                           NaN
attributed                                         False
implicit                                            True
device_brand                                         NaN
device_model                                 3.73913e+17
session_user_agent                            adjust.com
user_agent                                           NaN
event_uuid          79837499-2f2a-4605-a663-e322f759424f
kind                                            app_open
wifi                                                 NaN
trans_id                                             NaN
ip_address                           4243443387795468703
device_language                              3.30138e+18
os_es_android                                          0