# Imports

In [1]:
import pandas as pd
import numpy as np

***

# Carga de datos

In [3]:
auctions = pd.read_pickle("../../data/tp2/auctions_tp2_formateado.pkl")
clicks = pd.read_pickle("../../data/tp2/clicks_tp2_formateado.pkl")
events = pd.read_pickle("../../data/tp2/events_tp2_formateado.pkl")
installs = pd.read_pickle("../../data/tp2/installs_tp2_formateado.pkl")

***

In [10]:
auctions.head(1).T

                               10129864
date         2019-04-18 00:00:00.015050
device_id           1826643666390887030
ref_type_id                           7
source_id                             0

In [23]:
auctions["source_id"].value_counts()

1    24409571
0    11269616
3     7037160
7     1323280
6     1173914
8      839397
5      676993
4      430468
2      245462
9        3667
Name: source_id, dtype: int64

In [30]:
clicks.head(1).T

                                                0
advertiser_id                                   1
action_id                                     NaN
source_id                                       2
created          2019-04-18 05:27:42.197000+00:00
latitude                                  1.71455
longitude                                0.871535
wifi_connection                             False
carrier_id                                      3
trans_id          9JMAfrb-b9cSEVCJb0P9JfihGthaS7E
os_minor                              1.51764e+18
agent_device                                  NaN
os_major                              5.13162e+18
specs_brand                     71913840936116953
brand                                           0
timeToClick                                 2.317
touchX                                      0.968
touchY                                      0.503
ref_hash                      1293710398598742392
os_es_android                                   1

In [27]:
clicks["source_id"].value_counts()

1    33695
0    17155
3     5639
2     3878
6     2186
4      823
5      454
7      329
8      137
Name: source_id, dtype: int64

In [42]:
(clicks["ref_hash"].drop_duplicates()).isin(auctions["device_id"].drop_duplicates()).value_counts()

True     30873
False      936
Name: ref_hash, dtype: int64

In [12]:
events.head(1).T

                                                  170092
index                                             176304
date                          2019-04-18 00:00:00.027000
event_id                                              13
ref_hash                             4314242242878368557
application_id                                        65
attributed                                         False
device_os_version                                    NaN
device_brand                                 8.64024e+18
device_model                                 3.07541e+18
device_city                                          NaN
session_user_agent                           3.81952e+18
trans_id                                             NaN
user_agent                                   8.38837e+18
event_uuid          eb320d20-1dbe-4240-a948-73e6aedc97c0
carrier                                              NaN
kind                                         4.85317e+18
wifi                                                True
connection_type                                      NaN
ip_address                           7661022588781582440
device_language                              6.97705e+18
os_es_android                                          1

In [13]:
installs.head(1).T

                                                       0
created                       2019-04-24 06:23:29.495000
application_id                                         1
ref_hash                             4716708407362582887
click_hash                                           NaN
attributed                                         False
implicit                                            True
device_brand                                         NaN
device_model                                 3.73913e+17
session_user_agent                            adjust.com
user_agent                                           NaN
event_uuid          79837499-2f2a-4605-a663-e322f759424f
kind                                            app_open
wifi                                                 NaN
trans_id                                             NaN
ip_address                           4243443387795468703
device_language                              3.30138e+18
os_es_android                                          0