# Imports

In [1]:
import pandas as pd
import numpy as np

---

# Carga de datos

In [2]:
target = pd.read_csv("../../data/tp2/target.csv")

---

# Obtenci√≥n de ref_hash_objetivo

In [3]:
dispositivos = target.iloc[::2]["ref_hash"].apply(lambda x: np.int64(x[:-3])).to_frame()

In [4]:
dispositivos.head()

              ref_hash
0  1000169251625791246
2  1000395625957344683
4  1003027494996471685
6  1006670001679961544
8  1007573308966476713