# Imports

In [1]:
import pandas as pd
import numpy as np

---

# Carga de datos

In [2]:
auctions = pd.read_pickle("../../../../data/tp2/auctions_tp2_formateado.pkl")

---

# Armado de ventanas

In [13]:
for ventana_nro in range(1,6):
    auctions["ventana_{}".format(ventana_nro)] = (((17+ventana_nro) <= auctions["date"].dt.day) & ((auctions["date"].dt.day) <= (19+ventana_nro)))

# Obtención del tiempo hasta aparición ("objetivo" o "label" o "target") para cada ventana de datos

In [15]:
auctions.head(30)

,date,device_id,ref_type_id,source_id,ventana_1,ventana_2,ventana_3,ventana_4,ventana_5
10129864,2019-04-18 00:00:00.015050,1826643666390887030,7,0,True,False,False,False,False
25285906,2019-04-18 00:00:00.029014,7037174172278258682,1,0,True,False,False,False,False
3946062,2019-04-18 00:00:00.057540,3392065368947589877,1,1,True,False,False,False,False
3946063,2019-04-18 00:00:00.126828,1228982273563226229,1,1,True,False,False,False,False
24607726,2019-04-18 00:00:00.132510,4123059034628125459,1,8,True,False,False,False,False
11820552,2019-04-18 00:00:00.154022,2544156497510885464,1,1,True,False,False,False,False
44538105,2019-04-18 00:00:00.167606,8523620031586497559,1,1,True,False,False,False,False
4953159,2019-04-18 00:00:00.176600,3926687473682441392,1,1,True,False,False,False,False
11812696,2019-04-18 00:00:00.191287,528082274254399315,1,1,True,False,False,False,False
11820553,2019-04-18 00:00:00.217645,8160556786289359332,7,1,True,False,False,False,False
47080629,2019-04-18 00:00:00.219200,2844535553398493162,1,1,True,False,False,False,False
44517641,2019-04-18 00:00:00.225600,1680272311925142702,1,1,True,False,False,False,False
44538106,2019-04-18 00:00:00.231719,7508214929604895080,1,1,True,False,False,False,False
3434618,2019-04-18 00:00:00.233441,3926237048471091695,1,1,True,False,False,False,False
44514683,2019-04-18 00:00:00.241021,5802277733017057132,1,1,True,False,False,False,False
44514684,2019-04-18 00:00:00.259283,3651814472131322640,1,1,True,False,False,False,False
44504337,2019-04-18 00:00:00.292937,3965552861693715909,1,1,True,False,False,False,False
16344775,2019-04-18 00:00:00.294466,3070948202665858642,1,0,True,False,False,False,False
10129865,2019-04-18 00:00:00.299745,9087325953285418021,7,0,True,False,False,False,False
16188706,2019-04-18 00:00:00.306234,1819974464797805789,1,3,True,False,False,False,False
44538107,2019-04-18 00:00:00.309708,5910141895954932407,1,1,True,False,False,False,False
20481863,2019-04-18 00:00:00.319542,3504225602898030913,1,0,True,False,False,False,False
16344776,2019-04-18 00:00:00.358183,7181749374516241024,1,0,True,False,False,False,False
16735299,2019-04-18 00:00:00.358382,2053845849512280922,1,3,True,False,False,False,False
11798280,2019-04-18 00:00:00.363428,1680272311925142702,1,1,True,False,False,False,False
44538108,2019-04-18 00:00:00.370859,7081017498081781688,1,1,True,False,False,False,False
11820554,2019-04-18 00:00:00.401008,1975258604300455696,1,1,True,False,False,False,False
20466501,2019-04-18 00:00:00.407880,3927392842794041835,1,1,True,False,False,False,False
14055018,2019-04-18 00:00:00.425057,948724940316135935,1,1,True,False,False,False,False
44517642,2019-04-18 00:00:00.448385,779018991292742788,1,1,True,False,False,False,False

In [12]:
Xs = []
for x in range(5):
    Xs.append((auctions.loc[((21+x) <= auctions["date"].dt.day) & (auctions["date"].dt.day <= (23+x))]))

In [8]:
for x in Xs:
    x.set_index("device_id", inplace=True)

In [21]:
Xs[0]["device_id"].memory_usage(deep=True) / 1024**2

243.04061889648438

In [22]:
243*5

1215

---

# Features

### Cantidad de apariciones en subastas

In [111]:
for i in range(5):
    apariciones_i = ventanas[i].groupby("device_id").agg({"date" : "count"})
    apariciones_i.columns = ["n_apariciones"]
    Xs[i] = Xs[i].join(apariciones_i, how="inner")

---

## Entrenamiento: [18/4 , 20/4] ; Target: [21/4 , 23/4]

---

## Entrenamiento: [19/4 , 21/4] ; Target: [22/4 , 24/4]

---

## Entrenamiento: [20/4 , 22/4] ; Target: [23/4 , 25/4]

---

## Entrenamiento: [21/4 , 23/4] ; Target: [24/4 , 26/4]

---

## Entrenamiento: [22/4 , 24/4] ; Target: [25/4 , 27/4]

---