# Imports

In [1]:
import pandas as pd
import numpy as np
from lifelines import KaplanMeierFitter

---

# Carga de datos

In [2]:
auctions = pd.read_pickle("../../../../data/tp2/auctions_tp2_formateado.pkl")

---

# Adaptación, para un único usuario

In [23]:
inicio_tiempos = auctions["date"].min()

In [24]:
auctions["tiempo"] = (auctions["date"] - inicio_tiempos).dt.total_seconds()

In [25]:
auctions["dia"] = auctions["date"].dt.day

In [82]:
mini = auctions.loc[auctions["device_id"] == 3392065368947589877]

# Modelo

In [58]:
tiempos = mini["tiempo"] - mini["tiempo"].shift()

In [59]:
model = KaplanMeierFitter()
model.fit(tiempos.fillna(0))
resutlados = model.conditional_time_to_event_

---

In [63]:
resutlados

               KM_estimate - Conditional time remaining to event
timeline
0.000000                                                2.027131
0.000047                                                2.027358
0.000278                                                2.027127
0.000329                                                2.029109
0.000721                                                2.028717
0.001160                                                2.032399
0.001395                                                2.032164
0.001561                                                2.060000
0.002795                                                2.058766
0.004244                                                2.059834
0.004251                                                2.059827
0.004611                                                2.066365
0.005305                                                2.069757
0.006151                                                2.068911
0.006493                                                2.068569
0.006892                                                2.070652
0.007396                                                2.070148
0.007581                                                2.127537
0.007897                                                2.127221
0.007959                                                2.147967
0.008087                                                2.147839
0.010057                                                2.162147
0.010458                                                2.161746
0.010861                                                2.189153
0.011540                                                2.188474
0.012323                                                2.207211
0.012329                                                2.207205
0.015856                                                2.208154
0.016055                                                2.207955
0.016317                                                2.210773
...                                                          ...
1557.218924                                          1693.403051
1561.300912                                          1689.321063
1610.514774                                          1685.627194
1700.769084                                          1595.372884
1702.157688                                          1595.182223
1845.596762                                          1451.743149
2034.323590                                          1264.654168
2270.863618                                          1028.114140
2582.001668                                          1097.981377
2592.948485                                          1109.330031
2735.509059                                           966.769457
2902.289259                                           799.989257
2943.390224                                           994.947152
2977.185711                                           961.151665
3057.347296                                          1286.528632
3250.621975                                          1093.253953
3296.141968                                          1219.699323
3297.339911                                          1218.501380
3298.977758                                          2190.787921
3679.983045                                          1809.782634
3702.278516                                          2528.275358
3938.337376                                          2292.216498
4343.875928                                          9743.818736
4515.841291                                          9571.853373
5489.765679                                         62484.586490
6230.553874                                         61743.798295
14087.694664                                        82664.176897
67974.352169                                        28777.519392
96751.871561                                       250433.215226
347185.086787                                           0.000000

[631 rows x 1 columns]

In [21]:
labels_v1 = pd.read_pickle("../../targets/targets_ventana_1_auctions.pkl")

In [34]:
labels_v1.head()

                            target
device_id
1826643666390887030   75658.343525
7037174172278258682     135.824498
3392065368947589877  234266.865041
1228982273563226229    2363.081608
4123059034628125459  147350.860399

In [62]:
auctions.loc[(auctions["device_id"] == 3392065368947589877) & (auctions["dia"] < 20)]

,date,device_id,ref_type_id,source_id,tiempo,dia
3946062,2019-04-18 00:00:00.057540,3392065368947589877,1,1,0.042490,18
4979927,2019-04-18 00:00:00.642998,3392065368947589877,1,3,0.627948,18
24598957,2019-04-18 00:03:37.396356,3392065368947589877,1,3,217.381306,18
16224011,2019-04-18 00:03:38.863562,3392065368947589877,1,1,218.848512,18
24598963,2019-04-18 00:03:42.141848,3392065368947589877,1,3,222.126798,18
28081427,2019-04-18 00:03:42.147999,3392065368947589877,1,3,222.132949,18
16385053,2019-04-18 00:03:47.930617,3392065368947589877,1,3,227.915567,18
25267604,2019-04-18 00:03:49.332384,3392065368947589877,1,1,229.317334,18
24620796,2019-04-18 00:03:51.088044,3392065368947589877,1,3,231.072994,18
44519002,2019-04-18 00:06:03.188829,3392065368947589877,1,1,363.173779,18
38156793,2019-04-18 01:11:41.526205,3392065368947589877,1,1,4301.511155,18
10112540,2019-04-18 01:13:18.440558,3392065368947589877,1,1,4398.425508,18
24639552,2019-04-18 01:13:18.626716,3392065368947589877,1,3,4398.611666,18
9034121,2019-04-18 01:16:35.781342,3392065368947589877,1,3,4595.766292,18
9034122,2019-04-18 01:16:35.803916,3392065368947589877,1,3,4595.788866,18
16018275,2019-04-18 01:16:57.490302,3392065368947589877,1,3,4617.475252,18
16018277,2019-04-18 01:16:58.761418,3392065368947589877,1,3,4618.746368,18
7338815,2019-04-18 01:16:58.874807,3392065368947589877,1,1,4618.859757,18
44509789,2019-04-18 01:17:01.169438,3392065368947589877,1,3,4621.154388,18
10074438,2019-04-18 01:28:46.201087,3392065368947589877,1,3,5326.186037,18
3541046,2019-04-18 01:28:47.737168,3392065368947589877,1,3,5327.722118,18
10074663,2019-04-18 01:31:30.644259,3392065368947589877,1,3,5490.629209,18
16362996,2019-04-18 01:31:31.448563,3392065368947589877,1,1,5491.433513,18
16775880,2019-04-18 01:31:31.712055,3392065368947589877,1,3,5491.697005,18
11742028,2019-04-18 01:33:16.508743,3392065368947589877,1,1,5596.493693,18
22204719,2019-04-18 01:33:16.644567,3392065368947589877,1,3,5596.629517,18
4107474,2019-04-18 01:34:53.587322,3392065368947589877,1,1,5693.572272,18
4961512,2019-04-18 01:34:54.862251,3392065368947589877,1,1,5694.847201,18
19722564,2019-04-18 01:36:32.840744,3392065368947589877,1,1,5792.825694,18
4961681,2019-04-18 01:36:33.990800,3392065368947589877,1,1,5793.975750,18
...,...,...,...,...,...,...
8180404,2019-04-19 14:47:59.372861,3392065368947589877,1,3,139679.357811,19
8180405,2019-04-19 14:47:59.380442,3392065368947589877,1,3,139679.365392,19
591070,2019-04-19 15:33:34.889501,3392065368947589877,1,1,142414.874451,19
1266975,2019-04-19 15:33:36.135080,3392065368947589877,1,1,142416.120030,19
30984458,2019-04-19 15:37:11.139015,3392065368947589877,1,1,142631.123965,19
8238359,2019-04-19 15:37:13.530052,3392065368947589877,1,3,142633.515002,19
547950,2019-04-19 15:37:58.318007,3392065368947589877,1,1,142678.302957,19
1231442,2019-04-19 15:47:57.263279,3392065368947589877,1,3,143277.248229,19
20505155,2019-04-19 15:52:34.838657,3392065368947589877,1,1,143554.823607,19
20549420,2019-04-19 15:52:35.922110,3392065368947589877,1,3,143555.907060,19
22672271,2019-04-19 15:52:37.027270,3392065368947589877,1,1,143557.012220,19
2015141,2019-04-19 15:52:37.113589,3392065368947589877,1,1,143557.098539,19
13060844,2019-04-19 15:52:37.831949,3392065368947589877,1,3,143557.816899,19
47343488,2019-04-19 15:52:37.839846,3392065368947589877,1,3,143557.824796,19
8278468,2019-04-19 15:52:40.059380,3392065368947589877,1,3,143560.044330,19
27303739,2019-04-19 15:58:01.472992,3392065368947589877,1,3,143881.457942,19
30613599,2019-04-19 15:58:23.534501,3392065368947589877,1,3,143903.519451,19
21693970,2019-04-19 15:58:25.706705,3392065368947589877,1,1,143905.691655,19
43724835,2019-04-19 15:58:27.781767,3392065368947589877,1,1,143907.766717,19
26654292,2019-04-19 16:03:58.233573,3392065368947589877,1,3,144238.218523,19
30872197,2019-04-19 16:03:58.304904,3392065368947589877,1,3,144238.289854,19
8549196,2019-04-19 16:03:59.944807,3392065368947589877,1,3,144239.929757,19
14746967,2019-04-19 16:17:51.994981,3392065368947589877,1,1,145071.979931,19
24230680,2019-04-19 16:17:52.837878,3392065368947589877,1,3,145072.822828,19
2952995,2019-04-19 16:17:52.912150,3392065368947589877,1,1,145072.897100,19
27326165,2019-04-19 16:17:53.079752,3392065368947589877,1,1,145073.064702,19
14748286,2019-04-19 16:37:56.488082,3392065368947589877,1,3,146276.473032,19
2034848,2019-04-19 16:37:59.684101,3392065368947589877,1,1,146279.669051,19
35588472,2019-04-19 16:38:01.711232,3392065368947589877,1,3,146281.696182,19
26712955,2019-04-19 16:38:01.778254,3392065368947589877,1,3,146281.763204,19

In [64]:
sobrevivio = (np.datetime64("2019-04-20 00:00:00.000000") - np.datetime64("2019-04-19 16:38:01.778254"))

In [65]:
sobrevivio

numpy.timedelta64(26518221746,'us')

In [66]:
26518221746 /1000000

26518.221746

In [68]:
abs(82664 - 234266)

151602

In [56]:
11411 - 6376

5035

# Pruebo con 10.000 individuos, tiempos de todas las ventanas. Desupes probar con solo v1

In [243]:
sampled_targets = labels_v1

In [277]:
ventana_1 = auctions.loc[auctions["dia"] < 21]

In [280]:
labels_v1["n_apariciones"] = ventana_1.groupby("device_id").agg({"dia" : "count"})

In [283]:
muy_aparecidos = labels_v1.loc[labels_v1["n_apariciones"] > 3000]

In [ ]:
len(muy_aparecidos)

In [303]:
predicciones = []
for j in muy_aparecidos.iterrows():
    mini = auctions.loc[auctions["device_id"] == j[0]] #1677316392823000836
    tiempos = (mini["tiempo"] - mini["tiempo"].shift()).fillna(0)
    model = KaplanMeierFitter()
    print("prefit")
    model.fit(tiempos)
    print("postfit")
    resutlados = model.conditional_time_to_event_
    ultima_observacion = mini.loc[(mini["dia"] < 20)]["date"].max()
    sobrevivio = (pd.Timestamp("2019-04-20 00:00:00.000000") - ultima_observacion).total_seconds()
    prediccion = resutlados.loc[resutlados.index > sobrevivio].iloc[0][0]
    predicciones.append(prediccion)

prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit
prefit
postfit

KeyboardInterrupt:

In [304]:
len(predicciones)

64

In [305]:
deltas = muy_aparecidos["target"].iloc[:64].values - predicciones

In [306]:
total = 0
for x in deltas:
    total += (x**2)

In [307]:
sqrt(total/64)

28842.80969620438